header{
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}
button{
    background-color: #f84c4c;
    color: #ffffff;
    padding: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-items: center;
}
table{
    text-align: center;
    width: 100%;
    margin: 2px;
    border-collapse: collapse;
}
input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
tr:nth-child(even){
    background-color: #f2f2f2
}
td{
    padding: 8px;
    text-align: center;
}
th{
    background-color: #04AA6D;
    color: white;
    padding: 8px;
}
tr:hover{
    background-color: rgb(82, 82, 237);
}
